<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Semana Da Arte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="images/svg"
          th:href="@{/images/icone240.svg}">
    <!-- Importando a folha de estilo própria -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/pesquisaAdd.css}">
</head>
<body>
<header class="header">
    <div class="headerContainer">
        <h1 class="headerText">
            <a class="headerLink01" th:href="@{/}" style="text-decoration:none;">Semana Da Arte</a>
        </h1>
    </div>
    <div class="headerContainer02">
        <a class="headerLink02" th:href="@{/sobreNos}">
            sobre
        </a>
    </div>
</header>
<main class="main-pesquisa">
    <div class="div-pesquisa">
        <form action="#" th:action="@{/pesquisa/save}" method="post" th:object="${pesquisa}" enctype="multipart/form-data" class="form-pesquisa">
            <div class="form-field">
                <div class="form-title">adicionar uma pesquisa</div>
                <input type="number" disabled th:field="*{id}" class="input-id" >
                <div class="form-group">
                    <input type="text" th:field="*{author}" required class="form-input" id="autor" placeholder="Autor">
                    <label class="form-label" for="autor">Autor</label>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{title}" required class="form-input" id="title" placeholder="Titulo">
                    <label class="form-label" for="title">Titulo</label>
                </div>
                <div class="form-group">
                    <textarea th:field="*{paragraphs}" required class="form-input" id="texto" placeholder="Texto" rows="6"></textarea>
                    <label class="form-label" for="texto">Texto</label>
                </div>
                <div class="form-group">
                    <input type="file" name="imagem" accept="image/png, image/jpeg" class="form-input-img" id="img" place>
                </div>
                <button type="submit" class="form-btn-salvar">salvar</button>
            </div>
        </form>
    </div>
</main>
<div class="footerContainer">
    <div class="footerContent">
        <div class="senaiContainer">
            <img class="imgSenai" th:src="@{/images/sesiSenai.png}">
            <p class="pSenai">
                <span class="pSenaiTitle">Federação das Indústrias do Estado
                de Santa Catarina</span><br>
                Rodovia, SC-401, 3730 - Saco Grande,
                Florianópolis - SC, 88032-005
            </p>
        </div>
        <div class="txtContato">
            <ul class="ulContato">
                <li class="titleContato">CONTATO</li>
                <li class="liContato">claudio_ribeiro2@estudante.sc.senai.br</li>
                <li class="liContato">igor_fraga@estudante.sc.senai.br</li>
                <li class="liContato">rodrigo_c_ribeiro@estudante.sc.senai.br</li>
            </ul>
        </div>
        <div class="txtMembros">
            <ul class="ulMembros">
                <li class="titleMembros">MEMBROS</li>
                <li class="liMembros">Claudio Conti Ribeiro</li>
                <li class="liMembros">Igor Borba Fraga</li>
                <li class="liMembros">Rodrigo Conti Ribeiro</li>
            </ul>
        </div>
    </div>
</div>
<!-- Importando os scripts do bootstrap -->
<script th:src="@{/js/index.js}" type="text/javascript"></script>
</body>
</html>