<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Semana Da Arte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="images/svg"
          th:href="@{/images/icone240.svg}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
<header class="header">
    <div class="headerContainer">
        <h1 class="headerText">
            <a class="headerLink01" th:href="@{/}">Semana Da Arte</a>
        </h1>
    </div>
    <div class="headerContainer02">
        <a class="headerLink02" th:href="@{/sobreNos}">
            sobre
        </a>
    </div>
</header>
<main class="listMain">
    <div th:if="${erro}" class="msgErro">
        <span th:text="${msgErro}" class="msgErroText"></span>
    </div>
    <div th:if="${succ}" class="msgSucc">
        <span th:text="${msgSucc}" class="msgSuccText"></span>
    </div>
    <div class="addContainer">
        <a th:href="@{/pesquisa/add}" class="addLink">
            <div class="addContent">
                <div class="addIcon">
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                </div>
                <p class="addText">Adicionar pesquisa</p>
                <div class="addIcon">
                    <div class="line horizontal"></div>
                    <div class="line vertical"></div>
                </div>
            </div>
        </a></div>
    <div class="cards">
        <div class="cardContainer"
             th:each="pesquisa : ${pesquisas}"
             th:unless="${pesquisa.title}=='Pesquisa sobre arte urbana' or ${pesquisa.title}=='Pesquisa sobre a Pop Art'"
        >
            <div class="cardContent">
                <div class="text">
                    <div class="identificador" th:text="|ID - ${pesquisa.id}|"></div>
                    <div class="titulo" th:text="${#strings.abbreviate(pesquisa.title, 22)}"></div>
                    <div class="autor">
                        Escrito por
                        <span class="autorNome" th:text="${#strings.abbreviate(pesquisa.author, 14)}"></span>
                    </div>
                </div>
                <div class="icons">
                    <a th:href="@{/pesquisa/edit/{id}(id=${pesquisa.id})}" class="iconLink edit"> <img
                            class="iconImg"
                            th:src="@{/images/icon-edit.svg}"> </a>
                    <a th:href="@{/pesquisa/view/{id}(id=${pesquisa.id})}" class="iconLink view"> <img
                            class="iconImg"
                            th:src="@{/images/icon-view.svg}"> </a>
                    <a th:href="@{/pesquisa/delete/{id}(id=${pesquisa.id})}" class="iconLink delete"> <img
                            class="iconImg"
                            th:src="@{/images/icon-delete.svg}"> </a>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="footerContainer">
    <div class="footerNav">
        <ul class="ulNav">
            <li class="liNav"><a class="linkNav" th:href="@{/}">Home</a></li>
            <li class="liNav"><a class="linkNav" th:href="@{/pesquisa/list}">Pesquisas</a></li>
            <li class="liNav"><a class="linkNav" href="#">Obras</a></li>
        </ul>
    </div>
    <div class="footerContent">
        <div class="senaiContainer">
            <img class="imgSenai" th:src="@{/images/sesiSenai.png}">
            <p class="pSenai">
                <span class="pSenaiTitle">Federação das Indústrias do Estado
                de Santa Catarina</span><br>
                Rodovia, SC-401, 3730 - Saco Grande,
                Florianópolis - SC, 88032-005
            </p>
        </div>
        <div class="txtContato">
            <ul class="ulContato">
                <li class="titleContato">CONTATO</li>
                <li class="liContato">claudio_ribeiro2@estudante.sc.senai.br</li>
                <li class="liContato">igor_fraga@estudante.sc.senai.br</li>
                <li class="liContato">rodrigo_c_ribeiro@estudante.sc.senai.br</li>
            </ul>
        </div>
        <div class="txtMembros">
            <ul class="ulMembros">
                <li class="titleMembros">MEMBROS</li>
                <li class="liMembros">Claudio Conti Ribeiro</li>
                <li class="liMembros">Igor Borba Fraga</li>
                <li class="liMembros">Rodrigo Conti Ribeiro</li>
            </ul>
        </div>
    </div>
</div>
<!-- Importando os scripts do bootstrap -->
<script th:src="@{/js/index.js}" type="text/javascript"></script>
</body>
</html>