* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*teste {
    font-family: 'Pridi', serif;
    font-family: 'Righteous', cursive;
} */

@font-face {
  font-family: "Futura Book";
  src: url("http://localhost:8080/fonts/futura/futuraBook.ttf")
    format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: url("http://localhost:8080/fonts/futura/FuturaHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Italic";
  src: url("http://localhost:8080/fonts/futura/futuraBookItalic.ttf")
    format("truetype");
}

<<<<<<< HEAD
a{
   color:inherit;
}
a:hover{
    color:inherit;
}

=======
>>>>>>> 073d52ca3b0a525155d60fce924613b0f7ba5f8d
header.header {
  width: 100%;
  height: 10vh;
  display: flex;
<<<<<<< HEAD
  align-items: center;
  background: #121212;
}

.headerContainer {
  flex-grow: 1;
=======
  justify-content: center;
  align-items: center;
  background: #212121;
}

.headerContainer {
>>>>>>> 073d52ca3b0a525155d60fce924613b0f7ba5f8d
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  padding-left: 4rem;
  color: #fafafa;
}
.headerContainer02{
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    color: #fafafa;
    font-size: calc(0.66vw + 0.66rem);
    font-weight: bold;
    padding-right: 2rem;
    text-transform: capitalize;
}
}
.headerText {
  margin: 0;
  font-family: "Futura Bold";
  font-size: calc(1.5rem + 1.5vw);
  color: #fafafa;
  letter-spacing: 3px;
}

main.main {
    height: 90vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mainContainer #firstBtnBox{
    background: url("http://localhost:8080/images/imgUrbana.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainContainer #secondBtnBox {
    background: url("http://localhost:8080/images/imgPop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxButton {
    width: 50%;
    position: relative;
}

.boxButton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(75%);
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
}

.boxButton img:hover {
    opacity: 0 !important;
}

.imgBtn {
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: none;
    width: 35%;
    height: 10%;

    background: #212127;
    color: #fafafa;

    font-family: "Futura Bold";
    font-size: calc(1rem + 1vw);
}

.imgBtn:hover {
    background: #fafafa;
    color: #212127;
    transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
}
<<<<<<< HEAD
.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    background:#121212;
    color:#fafafa;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.footerHeader{
    font-size: 3vh;
    list-style: none;
    margin-bottom: 0.5rem !important;
}
.footerContent{
    margin-bottom:0.1rem !important;
    font-size: 1.8vh;
    list-style: none;

}
.footerContentbatata{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}
.mainContainerSobre{
    background-color: #121212;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60%;
    margin: 8vh 8vw;
    padding: 0vh 4vw;
}
.mainBoxSobre{
    height: 30vw;
    padding: 0vh 4vh;
}
.mainHeaderSobre{
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(0.9rem + 0.9vw);
}
.mainTextSobre{
    text-align: initial;
    margin-top: 8vh;
}
=======
>>>>>>> 073d52ca3b0a525155d60fce924613b0f7ba5f8d
