* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*teste {
    font-family: 'Pridi', serif;
    font-family: 'Righteous', cursive;
} */

@font-face {
  font-family: "Futura Book";
  src: url("https://marvelous-crater-lake-30689.herokuapp.com/fonts/futura/futuraBook.ttf")
    format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: url("https://marvelous-crater-lake-30689.herokuapp.com/fonts/futura/FuturaHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Italic";
  src: url("https://marvelous-crater-lake-30689.herokuapp.com/fonts/futura/futuraBookItalic.ttf")
    format("truetype");
}

a{
   color:inherit;
}
a:hover{
    color:inherit;
}

header.header {
  width: 100%;
  height: 12.5vh;
  display: flex;
  align-items: center;
  background: #121212;
}

.headerContainer {
  flex-grow: 1;
  width: fit-content;
  width: -moz-fit-content;
  height: calc(1.5rem + 1.5vw);
  padding-left: 4rem;
  color: #fafafa;

}


.headerContainer02{
    height: calc(1.5rem + 1.5vw);;
    color: #fafafa;
    font-size: calc(1vw + 0.66rem);
    font-weight: bold;
    margin-right: 2rem;
    text-transform: lowercase;
}

.headerLink02 {
    font-family: "Futura Bold";
    text-decoration: none;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
}

.headerContainer02:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
}

.headerText {
  margin: 0 !important;
  font-family: "Futura Bold";
  font-size: calc(1.5rem + 1.5vw);
  color: #fafafa;
  letter-spacing: 3px;
  height: 100%;
}

.headerLink01:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
    margin-top: -8px;
}

.headerLink01 {
    display: inline-block;
    height: 100%;
    text-decoration: none;
}

main.main {
    height: 90vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mainContainer #firstBtnBox{
    background: url("https://marvelous-crater-lake-30689.herokuapp.com/images/imgUrbana.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainContainer #secondBtnBox {
    background: url("https://marvelous-crater-lake-30689.herokuapp.com/images/imgPop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxButton {
    width: 50%;
    position: relative;
}

.boxButton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(75%);
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
}

.boxButton img:hover {
    opacity: 0 !important;
}

.imgBtn {
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: none;
    width: 35%;
    height: 10%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    background: #212127;
    color: #fafafa;

    font-family: "Futura Bold";
    font-size: calc(1rem + 1vw);
}

.imgBtn:hover {
    background: #fafafa;
    color: #212127;
    transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
    border-bottom-color: #d3adf7;
}
.footerContainer{
    width:100%;
    background-color: #121212;
    padding: 70px 0;
}

.footerContent{
    background-color: #121212;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto auto;
    font-family: "Futura Book";
}

.senaiConainer{
}
.imgSenai{
    width:92%;
}
.pSenai{
    color: #fafafa;
    margin: 0;
    padding:0;
    font-size:22px;
    line-height:26px;
    margin: 10px 0;
}
.pSenaiTitle {
    font-weight:bold;
}


.txtContato, .txtMembros{
    color: #fafafa;
    font-family: "Futura Book";
    height:100%;
}
.ulContato, .ulMembros{
    color: #fafafa;
    list-style: none;
    margin: 0;
    padding: 0;
    height:100%;
    font-size: 22px;
}
.titleContato, .titleMembros{
    color: #fafafa;
    font-weight:bold;

    height:100%;
}
.liContato, .liMembros{
    color: #fafafa;

    line-height: 36px;
    height:100%;
}


