* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*teste {
    font-family: 'Pridi', serif;
    font-family: 'Righteous', cursive;
} */

@font-face {
  font-family: "Futura Book";
  /*src: url("https://marvelous-crater-lake-30689.herokuapp.com/fonts/futura/futuraBook.ttf") format("truetype");*/
  src: url("https://semana-da-arte-spring-postgres.herokuapp.com/fonts/futura/futuraBook.ttf") format("truetype");

}

@font-face {
  font-family: "Futura Bold";
  src: url("https://semana-da-arte-spring-postgres.herokuapp.com/fonts/futura/futuraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Italic";
  /*src: url("https://marvelous-crater-lake-30689.herokuapp.com/fonts/futura/futuraBookItalic.ttf") format("truetype");*/
  src: url("https://semana-da-arte-spring-postgres.herokuapp.com/fonts/futura/futuraBookItalic.ttf") format("truetype");

}

a{
   color:inherit;
}
a:hover{
    color:inherit;
}

header.header {
  width: 100%;
  height: 12.5vh;
  display: flex;
  align-items: center;
  background: #121212;
}

.headerContainer {
  flex-grow: 1;
  width: fit-content;
  width: -moz-fit-content;
  padding-left: 4vw;
  color: #fafafa;

}

.headerContainer02{
    color: #fafafa;
    height: 46px;
    font-size: 25px;
    margin-right: 2vw;
    text-transform: lowercase;
}

.headerLink02 {
    font-family: "Futura Bold";
    text-decoration: none;
    height: 100%;
    line-height: 100%;
    letter-spacing: 1.5px;
    display: flex;
    align-items: flex-end;
}

.headerContainer02:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
}


.headerText {
  margin: 0 !important;
  font-family: "Futura Bold";
  font-size: 38px;
  color: #fafafa;
  letter-spacing: 3px;
  height: 46px;
  width: max-content;
}

.headerText:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
}

.headerLink01 {
    height: 46px;
    display: flex;
    line-height: 58px;
    text-decoration: none;
}

main.main {
    height: 90vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mainContainer #firstBtnBox{
    background: url("https://semana-da-arte-spring-postgres.herokuapp.com/images/imgUrbana.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainContainer #secondBtnBox {
    background: url("https://semana-da-arte-spring-postgres.herokuapp.com/images/imgPop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.boxButton {
    width: 50%;
    position: relative;
}

.boxButton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) grayscale(75%);
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
}

.boxButton img:hover {
    opacity: 0 !important;
}

.imgBtn {
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: none;
    width: 45%;
    height: 12.5%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    background: #121212;
    color: #fafafa;

    font-family: "Futura Bold";
    letter-spacing: 4px;
    font-size: 30px;

    cursor: pointer;
}

.imgBtn:hover {
    background: #fafafa;
    color: #212127;
    transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
    border-bottom-color: #d3adf7;
}
.footerContainer{
    width:100%;
    background-color: #121212;
    padding: 70px 2.5vw;
}

.footerContent{
    background-color: #121212;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto auto;
    font-family: "Futura Book";
}

.senaiContainer {
    width: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSenai{
    width: 100%;
}

.pSenai {
    width: 100%;
    font-size: 18px;
}

.ulContato, .ulMembros, .pSenai, .ulNav {
    color: #fafafa;
    font-family: "Futura Book";
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.pSenaiTitle, .titleContato, .titleMembros, .liNav {
    font-weight: bold;
}

.liContato, .liMembros, .liNav{
    color: #fafafa;
    line-height: 36px;
}

.footerNav {
    margin-bottom: 3rem;
}

.ulNav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.liNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkNav {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    text-decoration: none;
}

@media only screen and (max-width: 1165px) {
    .senaiContainer {
        width: 400px;
    }
    .ulContato, .ulMembros, .pSenai {
        font-size: 21px
    }
}
@media only screen and (max-width: 1115px) {
    .senaiContainer {
        width: 380px;
    }
    .ulContato, .ulMembros, .pSenai {
         font-size: 20px
    }
}
@media only screen and (max-width: 1075px) {
    .senaiContainer {
        width: 350px;
    }
}
@media only screen and (max-width: 1050px) {
    .senaiContainer {
        width: 300px;
    }
}
@media only screen and (max-width: 1010px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5vh;
    }
    .senaiContainer, .txtContato, .txtMembros {
        width: 80%;
    }
    .imgSenai {
        width: 50%
    }
    .ulContato, .ulMembros, .pSenai {
         font-size: 22px
    }
}
@media only screen and (max-width: 850px) {
    .imgBtn {
        font-size: 26px;
        letter-spacing: 3px;
    }
}
@media only screen and (max-width: 1000px) {
    .imgBtn {
        width: 60%;
    }
}
@media only screen and (max-width: 780px) {
    .imgSenai {
        width: 60%;
    }

}
@media only screen and (max-width: 550px) {
    .imgSenai {
        width: 75%
    }
    .ulContato, .ulMembros, .pSenai {
         font-size: 20px
    }
    .mainContainer {
        flex-direction: column;
    }
    .boxButton {
        width: 100%;
        height: 50%;
    }
    .imgBtn {
        height: 20%;
    }
}
@media only screen and (max-width: 485px) {
    .ulContato, .ulMembros, .pSenai {
         font-size: 18px
    }
}
@media only screen and (max-width: 440px) {
    .headerText {
        font-size: 34px
    }
    .headerContainer02 240{
        font-size: 22px;
    }
}
@media only screen and (max-width: 445px) {
    .imgSenai {
        width: 80%
    }
    .ulContato, .ulMembros, .pSenai {
         font-size: 16px
    }
}
@media only screen and (max-width: 375px) {
    .ulContato, .ulMembros, .pSenai {
         font-size: 14px
    }
}
@media only screen and (max-width: 350px) {
    .headerText {
        font-size: 30px
    }
    .headerContainer02 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 325px) {
    .ulContato, .ulMembros, .pSenai {
         font-size: 12px
    }
}