.cards {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px
}

.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px
}