 @font-face {
  font-family: "Futura Book";
  src: url("http://localhost:8080/fonts/futura/futuraBook.ttf")
    format("truetype");
}

@font-face {
  font-family: "Futura Bold";
  src: url("http://localhost:8080/fonts/futura/FuturaHeavy.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Italic";
  src: url("http://localhost:8080/fonts/futura/futuraBookItalic.ttf")
    format("truetype");
}
main.mainAddPesquisa{
    background: url("http://localhost:8080/images/backgroundUrban.png");
    background-size: cover;
    height: auto;
    padding: 10vh;
}


.form-group 			  {
  position:relative;
  margin-bottom:45px;
}
/* */
.form-input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #d3adf7;
}
.form-input:focus {
    outline:none;
 }

.form-label {
  color:#121212;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.form-input:focus ~ .form-label, .form-input:valid ~ .form-label 		{
  top:-20px;
  font-size:14px;
  color:#d3adf7;
}

.text-bar {
    position:relative;
    display:block;
    width:300px;
}

.text-bar:before, .text-bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#d3adf7;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.text-bar:before {
  left:50%;
}

.text-bar:after {
  right:50%;
}

.form-input:focus ~ .text-bar:before, .form-input:focus ~ .text-bar:after {
  width:50%;
}



