
main.main-pesquisa{
    background: url("http://localhost:8080/images/backgroundUrban.png");
    background-size: cover;
    height: auto;
}
div.div-pesquisa{
    width: 80vw;
    margin: auto;
    padding: 10vh 0;
}
div.form-field{
    font-family: "Futura Book";
    background: #fafafa;
    padding: 7vh 5.5vw
}
.form-group{
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
div.form-title{
    font-family: "Futura Book";
    font-size: 32px;
    color: #292929;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-bottom: 2vh;
    text-transform: uppercase;
    width: -moz-fit-content;
    width: fit-content;
}
div.form-title::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
}
input.input-id{
    display:none;
}
.form-input{
 font-family: "Futura Book";
  width: 100%;
  border: 0;
  border-bottom: 1px solid #121212;
  outline: 0;
  font-size: 20px;
  color: #121212;
  padding: 14px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form-input::placeholder{
  color: transparent;
}

.form-input:placeholder-shown ~ .form-label {
  font-family: "Futura Book";
  font-size: 24px;
  cursor: text;
  top: 20px;
}

label,
.form-input:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 18px;
  color: #121212;
}

.form-input:focus ~ .form-label{
  color: #d3adf7;
}

.form-input:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #d3adf7;
}

label.form-label-img{
    margin: 1vh 0px;
}

.uploadImage {
    position: relative;

    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px black dashed;

}

.imagePreviewContainer {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.imagePreview {
    height: 95%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.uploadPreview {
    width: 100%;
    margin-bottom: 10px;
}

.fileName {
    margin: 10px 0;
    text-align: center;
}

.form-input-img {
    display: none;
}

.folderIcon {
    display: block;
    width: 32px;
    height: 32px;
}

.form-btn-salvar {
    border: none;

    width: 50%;
    height: 60px;

    margin: 0 25%;

    background: #121212;
    color: #fafafa;
    font-size: 1.5rem;
    text-transform: uppercase;

    cursor: pointer;
}

