.mainSobre{
     background: url("https://mosqueteiros-semana.herokuapp.com/images/urbanArtBg02.jpg");
     background-size: cover;
     height: auto;
 }

.articleSobre{
    width: 80vw;
    margin: auto;
    padding: 10vh 0;
}

.contentSobre{
    background: #ffffff;
    padding: 0 7.5vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.titleSobre{
    font-family: "Futura Book";
    color: #292929;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-bottom: 6vh;
    width: -moz-fit-content;
    width: fit-content;
}

.titleSobre::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #d3adf7;
}

.autorSobre{
    font-family: "Futura Book";
    color: #292929;
    font-size: calc(0.5rem + 1.5vw);
    text-align: left;
    margin: 3vh 0;
}

.autorTxtSobre{
    font-weight: bold;
    display: inline-block;
}
span.autorTxtSobre::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d3adf7;
}

.txtSobre{
    font-family: "Futura Book";
    color: #292929;
    text-align: justify;
    font-size: calc(1.75vh + 0.5rem);
    line-height: 30px;
    letter-spacing: 0.5px;
    text-indent: 50px;
    text-align: justify;
}