<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Semana Da Arte</title>
    <!-- Importando a folha de estilo do bootstrap -->
    <link
            rel="stylesheet"
            th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}"
    />
    <!-- Importando o fontawesome -->
    <link rel="stylesheet" th:href="@{/fontawesome5.15.3/css/all.min.css}"/>
    <!-- Importando a folha de estilo própria -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pridi&family=Righteous&family=Vollkorn&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/sobreNos.css}">
</head>
<body>
<header class="header">
    <div class="headerContainer">
        <h1 class="headerText">
            <a class="headerLink01" th:href="@{/}" style="text-decoration:none;">Semana Da Arte</a>
        </h1>
    </div>
    <div class="headerContainer02">
        <a class="headerLink02" th:href="@{/sobreNos}">
            sobre
        </a>
    </div>
</header>
<main class="mainSobre">
    <article class="articleSobre">
        <div class="contentSobre">
            <div class="autorSobre">
                <span class="autorTxtSobre">O que é a semana da arte ?</span>
            </div>
            <p class="txtSobre">
                A semana da arte originalmente é uma manifestação artístico-cultural que foi feita anteriormente para promover uma nova visão de arte ao mundo,
                contudo atualmente ela “celebra” a mudança artística ocorrida na época.<br>
            </p>
            <div class="autorSobre">
                <span class="autorTxtSobre">O que foi desenvolvido ?</span>
            </div>
            <p class="txtSobre">
                Nesta semana, a nossa escola “Escola S” está desenvolvendo um projeto com seus alunos para mostrar em diferentes perspectivas da semana da arte,
                e esse projeto está sendo elaborado com os professores do ensino técnico para o desenvolvimento de diversos sites que falam sobre o tema,
                levando a um entendimento mútuo do que a arte significa hoje e a diferença entre alguns tipos de arte,
                em meio a tantos projetos dos estudantes do terceiro ano estamos desenvolvendo um site para apresentar nossa pesquisa e desenvolvimento da parte de programação tanto quanto banco de dados e design.
            </p>
            <div class="autorSobre">
                <span class="autorTxtSobre">Qual é o nosso objetivo ?</span>
            </div>
            <p class="txtSobre">
                Nosso objetivo se resume não só a expor o que desenvolvemos ao longo deste trimestre referente a semana da arte como
                também dar uma breve perspectiva do que é a semana de arte e explicar sobre a arte urbana e pop art.
            </p>
            <div class="autorSobre">
                <span class="autorTxtSobre">Quem somos ?</span>
            </div>
            <p class="txtSobre">
                Nos compomos o grupo chamado de “Os três mosqueteiros”, quanto ao porquê desse nome podemos dizer que é pelo fato que temos a
                penas três integrantes que estão “lutando juntos para matar o gigante” sendo nossos nomes
                Igor Borba Fraga, Claudio Ribeiro e Rodrigo Ribeiro, de Florianopolis.
            </p>
        </div>
    </article>
</main>
<div class="footerContainer">
    <div class="footerContent">
        <div class="senaiContainer">
            <img class="imgSenai" th:src="@{/images/sesiSenai.png}">
            <p class="pSenai">
                <span class="pSenaiTitle">Federação das Indústrias do Estado
                de<br>Santa Catarina</span><br>
                Rodovia, SC-401, 3730 - Saco Grande,<br>
                Florianópolis - SC, 88032-005
            </p>
        </div>
        <div class="txtContato">
            <ul class="ulContato">
                <li class="titleContato">CONTATO</li>
                <li class="liContato">claudio_ribeiro2@estudante.sc.senai.br</li>
                <li class="liContato">igor_fraga@estudante.sc.senai.br</li>
                <li class="liContato">rodrigo_c_ribeiro@estudante.sc.senai.br</li>
            </ul>
        </div>
        <div class="txtMembros">
            <ul class="ulMembros">
                <li class="titleMembros">MEMBROS</li>
                <li class="liMembros">Claudio Conti Ribeiro</li>
                <li class="liMembros">Igor Borba Fraga</li>
                <li class="liMembros">Rodrigo Conti Ribeiro</li>
            </ul>
        </div>
    </div>
</div>
<!-- Importando os scripts do bootstrap -->
<script th:src="@{/js/index.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>